In [25]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

'Connected: None@chinook.db'

In [29]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

In [36]:
%%sql
SELECT g.name
, COUNT(t.genre_id) AS num_tracks
, AVG(t.genre_id) AS tracks_percentage
FROM genre g
INNER JOIN track t ON g.genre_id = t.genre_id
GROUP BY g.name
ORDER BY num_tracks DESC

Done.

[('Rock', 1297, 1.0),
 ('Latin', 579, 7.0),
 ('Metal', 374, 3.0),
 ('Alternative & Punk', 332, 4.0),
 ('Jazz', 130, 2.0),
 ('TV Shows', 93, 19.0),
 ('Blues', 81, 6.0),
 ('Classical', 74, 24.0),
 ('Drama', 64, 21.0),
 ('R&B/Soul', 61, 14.0),
 ('Reggae', 58, 8.0),
 ('Pop', 48, 9.0),
 ('Soundtrack', 43, 10.0),
 ('Alternative', 40, 23.0),
 ('Hip Hop/Rap', 35, 17.0),
 ('Electronica/Dance', 30, 15.0),
 ('Heavy Metal', 28, 13.0),
 ('World', 28, 16.0),
 ('Sci Fi & Fantasy', 26, 20.0),
 ('Easy Listening', 24, 12.0),
 ('Comedy', 17, 22.0),
 ('Bossa Nova', 15, 11.0),
 ('Science Fiction', 13, 18.0),
 ('Rock And Roll', 12, 5.0),
 ('Opera', 1, 25.0)]